/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow: auto;
    border-right: 2px solid #ccc;
}

.sidebar a {
    display: block;
    padding: 8px;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}

.sidebar a:hover {
    background-color: #ddd;
}

/* Main content */
main {
    margin-left: 220px;
    padding: 20px;
}

/* Images and media responsiveness */
img.inline {
    max-width: 100%;
    height: auto;
}

iframe, object {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: auto;
    display: block;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Optional, adds spacing around the iframe */
}


/* Contact form */
.contact-form {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}